<% if Rails.env.development? %>
	<%= link_to "Games", games_path %>
	<%= link_to "Brackets", brackets_path %>
	<%= link_to "Users", users_path %>
<% end %>



<div class="container">
	<h3 class="brackets-title-h3">FPS Brackets</h3>
</div>


<div class="container">
	<div class="col-12 brackets-group fps-group">
		
		<div class="col-12 row-game">
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("codbo3.jpg", class: "game-image"), games_path %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to link_to image_tag("csgo.jpg", class: "game-image"), games_path  %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("r6s.jpg", class: "game-image"), games_path  %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("halo5.jpg", class: "game-image"), games_path %>
				</div>
			</div>
		</div>

			<div class="col-12 row-game">
				<div class="col-3">
					<div class="col-11 game-background">
						<%= link_to image_tag("halomcc.jpg", class: "game-image"), games_path %>
					</div>
				</div>
				<div class="col-3">
					<div class="col-11 game-background">
						<%= link_to image_tag("gowue.jpg", class: "game-image"), games_path  %>
					</div>
				</div>
				<div class="col-3">
					<div class="col-11 game-background">
						<%= link_to image_tag("doom.jpg", class: "game-image"), games_path  %>
					</div>
				</div>
				<div class="col-3">
					<!-- <div class="col-12 game-background">
						<%= link_to image_tag("", class: "game-image"), games_path %>
					</div> -->
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container">
	<h3 class="brackets-title-h3">MOBA Brackets</h3>
</div>

<div class="container">
	<div class="col-12 brackets-group moba-group">

		<div class="col-12 row-game">
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("lol.jpg", class: "game-image"), games_path %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("dota2.jpg", class: "game-image"), games_path  %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("smite.jpg", class: "game-image"), games_path  %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("storm.jpg", class: "game-image"), games_path %>
				</div>
			</div>
		</div>

		<div class="col-12 row-game">
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("overwatch.jpg", class: "game-image"), games_path %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("battleborn.jpg", class: "game-image"), games_path  %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("paragon.jpg", class: "game-image"), games_path  %>
				</div>
			</div>
			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("lawbreakers.jpg", class: "game-image"), games_path %>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container">
	<h3 class="brackets-title-h3">More Brackets</h3>
</div>

<div class="container">
	<div class="col-12 brackets-group more-group">

			<div class="col-12 row-game">
				<div class="col-3">
					<div class="col-11 game-background">
						<%= link_to image_tag("starcraft2.jpg", class: "game-image"), games_path %>
					</div>
				</div>
				<div class="col-3">
					<div class="col-11 game-background coming-soon">
						<%= link_to image_tag("mkx.jpg", class: "game-image"), games_path  %>
					</div>
				</div>
				<div class="col-3">
					<div class="col-11 game-background">
						<%= link_to image_tag("rocket-league.jpg", class: "game-image"), games_path  %>
					</div>
				</div>
				<div class="col-3">
					<div class="col-11 game-background">
						<%= link_to image_tag("wotanks.png", class: "game-image"), games_path %>
					</div>
				</div>
			</div>

			<div class="col-3">
				<div class="col-11 game-background">
					<%= link_to image_tag("simplychess.jpg", class: "game-image"), games_path %>
				</div>
			</div>
			<div class="col-3">
				<!-- <div class="col-11 game-background coming-soon">
					<%= link_to image_tag("pokernight2.jpg", class: "game-image"), games_path  %>
				</div> -->
			</div>
			<div class="col-3">
				<!-- <div class="col-11 game-background">
					<%= link_to image_tag("rocket-league.jpg", class: "game-image"), games_path  %>
				</div> -->
			</div>
			<div class="col-3">
				<!-- <div class="col-11 game-background">
					<%= link_to image_tag("wotanks.png", class: "game-image"), games_path %>
				</div> -->
			</div>
		</div>

	</div>
</div>

<div class="container">
	<h3 class="brackets-title-h3">Account Creation</h3>
</div>

<div class="container">
	<div class="account-creation-row">

		<div class="col-6">Account Creation</div>
		<div class="col-6">Log in</div>

		<div class="col-12">
			<div class="col-12">
				<div class="col-6">Sign up</div>
				<div class="col-6">Log in</div>
			</div>
		</div>

	</div>
</div>

<div class="container">
	<h3 class="brackets-title-h3">Bracket Statistics</h3>
</div>

<div class="container">
	<div class="col-12 bracket-statistics-row">
		
	</div>
</div>

<div class="container">
	<h3 class="brackets-title-h3">Brackets Information</h3>
</div>

<div class="container">
	<div class="col-12 information-row">

	</div>
</div>

