<!DOCTYPE html>
<html>
<head>
  <title>MythicGaming.io</title>
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="main-content">
		<div class="container-full">
			<div class="col-12">
				<%= render 'layouts/navbar' %>
				</div>
				<% #content_for :main_index %>
			<div class="col-12">
				<div class="main-hero">
					<h1><i class="fa fa-cubes fa-1x"></i>Mythic Gaming</h1>
					<p><h3>Online Competitive Gaming Brackets</h3></p>
					<p><h3>FPS and MOBA</h3></p>
					<p><button><h3>What is MythicGaming.io</h3></button></p>
					<p><button class="btn-register"><h3>Create Account</h3></button></p>
				</div>
			</div>
			<%# end %>
		</div>
	</div><!-- main content -->
		
	<div class="container-full">
		<%= yield %>
		<%= render "layouts/footer" %>
	</div>
	
	
	
</body>
</html>
